.touchScroll {
	position: relative;
}

.touchScrollBars {
	display: -webkit-box;
	padding: 3px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483647;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-webkit-box-sizing: border-box;
}

.touchScrollTrack {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.touchScrollTrackX {
	height: 6px;
}

.touchScrollTrackY {
	float: right;
	width: 6px;
}

.touchScrollBarsBoth {
	padding-bottom: 12px;
	padding-right: 12px;
}

.touchScrollBarsBoth .touchScrollTrackX {
	-webkit-transform: translateY(9px);
}

.touchScrollBarsBoth .touchScrollTrackY {
	-webkit-transform: translateX(3px);
}

.touchScrollHandle {
	border: 1px solid;
	min-height: 4px;
	min-width: 4px;
	-webkit-transition-property: -webkit-transform, height, width;
	-webkit-border-radius: 3px;

	/* COLOR VARIANTS */
/* Default */
	border-color: rgba(255, 255, 255, 0.15);
	background: rgba(0, 0, 0, 0.5);
/**/

/* White
	border-color: rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.5);
/**/

/* Black
	border-color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.5);
/**/
}
